.card-service{
    overflow: hidden;
    padding: 30px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 0.5s ease-out;
}

.card-strategy{
    display: flex;
    padding: 30px 0;
    // flex-direction: column;
    align-items: start;
    .step{
        padding-right: 50px;
        p{
            color: $white;
        }
        .number-step{
            font-size: 60px;
            font-weight: 700;
            line-height: 45px;
        }
    }
    
}


// #pricing{
//     .card-price{
//         border-radius: 20px;
//         box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
//         margin: 30px 0;
//         padding: 50px 30px;
//     }
// }

// .price{
//     display: flex;
//     align-items: flex-end;
//     justify-content: center;
//     padding: 30px 0;
//    .price-text{
//        display: flex;
//        align-items: flex-start;
//        padding-right: 10px;
//        p{
//         color: $light-blue;
//        }
//        .dollar{
//            margin-top: -15px
//        }
//        .price-number{
//            @include fs-35;
//            @include fw-medium;
//        }
//    } 
// }

@media(min-width:700px){
    .card-container{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .card-row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media(min-width:1000px){
    .card-service{
        padding: 50px;
        height: 394.2px;
        h3{
            transition:0.3s;
            
        }
        p{
            transition:0.3s;
            opacity: 0;
            height: 0;
        }
        circle{
            transition:0.3s;
            opacity: 1;
            height: 100%;
        }
        &:hover{
            box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
            .circle{
                display: none;
            }
            h3{
                font-size: 1rem;
                padding-top: 0;
            }
            p{
                opacity: 1;
                height: 100%;
            }
        }
    }
    .card-row{
        gap: 50px;
    }

    .card-strategy-container{
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
    }
    .card-strategy{
        align-items: center;
        .step{
            .number-step{
                padding-right: 80px;
            }
        }
        .step-content{
            width: 70%;
        }
    }

    // #pricing{
    //     .card{
    //         padding: 50px;
    //     }
    // }
}

@media (min-width:1200px){
    .card-container{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}