html{
    scroll-behavior: smooth;
    @include bg-gradient;
}
body{
    background: url(../img/block.svg) repeat center center / contain;
    background-size: 200%;
    background-attachment: fixed;
}
.white_div{
    background-color: white;
}
.dark{
    color: $white;
    p{
        color: $text-light;
    }
}
.light{
    background: $white;
    color: $dark-blue;
    p{
        color: $text-dark;
    }
    a{
        color: $dark-blue;
    }
}
.white{
    color: $white-light;
    font-weight: 500;
}

.tac{
    text-align: center;
}
.tac-mobile{
    text-align: center;
}
.desk-only{
    display: none;
}

.social{
    font-size: 1.3rem;
    margin: 0 -10px;
    span{
        padding: 20px 10px;
        transition: all 500ms ease;
    }
    a{
        color: $dark-blue;
        &:hover{
            span{
                color: $light-blue;
                transform: scale(1.08);
            }
        }
    }
}

section{
    .grid{
        display: grid;
    }
    .grid-2-4{
        align-items: center;
        justify-items: center;
        .item2{
            padding-top: 50px;
        }
    }
}

#footer{
    .social{
        a{
            color: $white;
        }
    }
}

.quote{
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    p{
        padding-top: 15px;
        font-style: italic;
    }
}

.line-dashed{
    stroke-dashoffset: 100;
    animation: lineMove 5s infinite linear;
}
.line-dashed-2{
stroke-dashoffset: 0;
animation: lineMove2 5s infinite linear;
}

@media(min-width: 700px){
    .flex{
        display: flex;
    }
    .partner{
        justify-content: space-around;
        margin-left: -30px;
        margin-right: -30px;
        .p-x{
            padding: 30px;
        }
    }

    #ourpartner{
        .flex{
            align-items: center;
            img{
                max-width: 300px;
            }
        }
    }
    .grid-4-3{
        grid-template-columns: 4fr 3fr;
        gap: 50px;
    }
}

@media (min-width: 1000px) {
    body{
        background-size: 100%;
    }
    .desk-only{
        display: block;
    }

    .flex{
        .p-x{
            padding:0 30px;
        }
    }

    section{
        display: grid;
        &#aboutus{
            .grid-3-2{
                grid-template-columns: 3fr 2fr;
                gap: 100px;
            }
        }
        &#footer{
            .credits{
                padding-top: 50px;
            }
        }
        .grid-1{
            grid-template-columns: 1fr;
        }
        .grid-2-4{
            grid-template-columns: 3fr 4fr;
            gap: 100px;
            align-items: center;
            justify-items: center;
            .item1{
                grid-area: 1 / 2 ;
            }
            .item2{
                padding-top: 0;
                grid-area: 1 / 1;
            }
        }
        .grid-1-1{
            grid-template-columns: 1fr 1fr;
            gap: 100px;
        }
        #contactus{
            padding-top: 80px;
        }
    }
    .tac-mobile{
        text-align: left;
    }
}