header{
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7fr;
    align-items: center;
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .p-big{
            padding: 50px 0;
            font-size: 1.125rem;
        }
    }
    #logo {
        width: 50px;
        z-index: 100;
    }
}

@media(max-width: 376px) {
    header{
        align-items: start;
    }
}

@media(min-width: 1000px) {
    header{
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        .p-big{
            max-width: 60%;
        }
        #logo{
            width: 70px;
        }
    }
}