section.light, .hero{
    padding: 50px 20px;
}
section.dark{
    padding: 0 20px;
}
.transparent{
    height: 50px;
    background:none;
    z-index: 1;
}

#ourpartner{
    img{
        padding: 20px;
    }
}
#footer{
    padding-bottom: 20px;
    #contactus{
        padding-top: 30px;
    }
}

.p-top-30-mobile{
    padding-top: 30px;
}

@media(min-width:700px) {
    section.light, .hero{
        padding: 50px;
    }
    section.dark{
        padding: 0 50px;
    }
}

@media(min-width: 1000px){
    section.light, .hero{
        padding: 100px;
    }
    section.dark{
        padding: 0 100px;
    }
    .transparent{
        height: 100px;
        background:none;
        z-index: 1;
    }

    .p-top-30-mobile{
        padding-top: 0;
    }
}