body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    @include h1-mobile;
}
h2{
    @include h2-mobile;
    padding-bottom: 30px;
}
h3{
    @include h3-mobile;
    padding: 20px 0;
    .subhead{
        font-size: 1rem;
    }
}

p{
    @include paragraph;
}
a{
    cursor: pointer;
}

.credits{
    p{
        font-size: 0.875rem;
    }
}

@media (min-width: 1000px) {
    h1{
        @include h1-desktop;
    }
    h2{
        @include h2-desktop;
        padding-bottom: 40px
    }
    h3{
        @include h3-desktop;
    }
}